$colors: (
    white: #ffffff,
    lead: #222222,

    emerald: #2ecc71,
    green: #27ae60,

    baby-blue: #3498db,
    sky-blue: #2980b9,
    midnight-blue: #2c3e50,

    plum: #8e44ad,

    silver: #bdc3c7,
    asbestos: #7f8c8d,
    clouds: #ecf0f1
);
